.gallery-main {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 1% 0 5% 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
}

.gallery-main img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.gallery-main figure {
    margin: 0;
    padding: 0;
}

.gallery-header {
    margin-left: 5%;
}

.gallery-header h1 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(83, 83, 83);
}

.post {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
    margin: auto;
}

.post-header {
    margin-left: 25%;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-content h1 {
    margin: 0;
    font-size: 35px;
    text-align: left;
    width: 50%;
    padding-bottom: 15px;
    color: rgb(99, 98, 98);
    font-weight: 600;
}

.post-content img {
    width: 50%;
}

.post-content-details {
    width: 50%;
    font-size: 17px !important;
    font-weight: 500;
    line-height: 25px;
    margin: 10px 0;
    color: rgb(49, 48, 48);
}

.post-content-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post-content-details figure {
    margin: 0;
}

.post-content-details figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.post-pagination {
    margin: 5% 0 10% 25%;
}

.post-pagination-nav {
    display: flex;
    justify-content: space-between;
    width: 68%;
}

.post-pagination-nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(37, 36, 36);
}

.pagination-nav-prev {
    color: black;
    font-size: 28px;
    font-weight: 600;
}

.pagination-nav-prev:hover {
    color: gray;
}

.pagination-nav-next {
    color: black;
    font-size: 28px;
    font-weight: 600;
}

.pagination-nav-next:hover {
    color: gray;
}

.hovereffect {
    position: absolute;
    bottom: 1%;
    background-color: black;
    width: 100%;
    padding: 1% 0;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumb li+li::before {
    content: "/";
    margin: 0 0.5em;
    opacity: .5;
}

.breadcrumb-item {
    font-size: 18px;
    color: rgb(82, 80, 80);
}

.breadcrumb-item a {
    color: rgb(82, 80, 80);
    text-decoration: none;
}

.breadcrumb-item-current {
    font-weight: 500;

}