body {
    padding: 10% 4% 5%;
    /* color: white */
}

.gallery-main {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 1% 0 5% 0;
    margin-bottom: 10px;
    columns: 4;
    gap: 30px;
    /* display: grid; */
    break-inside: avoid;
    /* grid-template-columns: repeat(3 , 1fr);
    gap: 3%;
    grid-template-rows: masonry; */
}

@media (max-width: 600px) {
    .gallery-main {

        columns: 1;
        gap: 30px;
        break-inside: avoid;

    }
}

@media (min-width: 600px) {
    .gallery-main {

        columns: 1;
        gap: 30px;
        break-inside: avoid;

    }
}

@media (min-width: 768px) {
    .gallery-main {

        columns: 2;
        gap: 30px;
        break-inside: avoid;

    }
}

@media (min-width: 992px) {
    .gallery-main {

        columns: 3;
        gap: 30px;
        break-inside: avoid;

    }
}

@media (min-width: 1200px) {
    .gallery-main {

        columns: 4;
        gap: 30px;
        break-inside: avoid;

    }
}

@media (min-width: 2000px) {
    .gallery-main {

        columns: 5;
        gap: 30px;
        break-inside: avoid;

    }
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: white;
}

.gallery-main img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.gallery-main figure {
    margin: 0 0 10px 0;
    padding: 0;
}
.dark-mode .gallery-main figure {
    margin: 0px 0 30px 0;
    padding: 0;
    /* border: 1px solid rgb(88, 87, 87); */
    box-shadow: 0 0 20px -1px rgb(127, 125, 128);
}
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ae7cdd;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ae7cdd;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.gallery-header {
    margin-left: 5%;
}

.gallery-header h1 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    margin: 0;
}
.dark-mode .gallery-header h1 {
    color: white;
}

.foot-inner {
    margin: 0 auto;
    max-width: var(--container-width, 1200px)
}
.footer {
    color: var(--color-secondary-text);
    padding-bottom: 8rem;
    padding-top: 8rem
}

.footer-inner {
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr auto 1fr
}

.footer-menu .nav {
    align-items: center;
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.footer-menu .nav li {
    align-items: center;
    display: flex
}

.footer-menu .nav li+li:before {
    content: "•";
    font-size: .9rem;
    line-height: 0;
    padding: 0 1.2rem
}



.footer a {
    color: var(--color-secondary-text)
}

.footer a:hover {
    color: var(--color-darker-gray);
    opacity: 1
}

@media (max-width:767px) {
    .footer {
        padding-bottom: 12rem;
        padding-top: 6.4rem
    }

    .footer-inner {
        grid-template-columns: 1fr;
        text-align: center
    }

    .footer-menu {
        margin-top: 3.2rem
    }

    .footer-menu .nav {
        flex-direction: column
    }

    .footer-menu .nav li+li {
        margin-top: .4rem
    }

    .footer-menu .nav li+li:before {
        display: none
    }

  
}




.post {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
    margin: auto;
}

.post-header {
    margin-left: 25%;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-content a {
    color: rgb(255, 121, 183);
    text-decoration: none;
}

.post-content h1 {
    margin: 0;
    font-size: 20px;
    text-align: left;
    width: 50%;
    padding-bottom: 15px;
    color: rgb(99, 98, 98);
    font-weight: 600;
}
.dark-mode .post-content h1  {
    margin: 0;
    font-size: 20px;
    text-align: left;
    width: 50%;
    padding-bottom: 15px;
    color: white;
    font-weight: 600;
 }

.post-content img {
    width: 36%;
}
.dark-mode .post-content img {
    width: 36%;
    box-shadow: 0 0 20px -1px rgb(127, 125, 128);
}

.post-content-details {
    width: 50%;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 25px;
    margin: 10px 0;
    color: rgb(49, 48, 48);
}
.dark-mode .post-content-details {
    width: 50%;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 25px;
    margin: 10px 0;
    color: white;
}
.post-content-details :hover{
    width: 100%;
    font-size: 22px !important;
    line-height: 36px;
}
.post-content-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.dark-mode .post-content-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 20px -1px rgb(127, 125, 128);
}
.post-content-details figure {
    margin: 0;
}

.post-content-details figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.post-pagination {
    margin: 5% 0 10% 25%;
}

.post-pagination-nav {
    display: flex;
    justify-content: space-between;
    width: 68%;
}

.post-pagination-nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(37, 36, 36);
}

.pagination-nav-prev {
    color: black;
    font-size: 28px;
    font-weight: 600;
}
.dark-mode .pagination-nav-prev {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 600;
}

.pagination-nav-prev:hover {
    color: gray;
}

.pagination-nav-next {
    color: black;
    font-size: 28px;
    font-weight: 600;
}
.dark-mode .pagination-nav-next {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 600;
}

.pagination-nav-next:hover {
    color: gray;
}

.hovereffect {
    position: absolute;
    bottom: 1%;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    padding: 1% 0;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumb li+li::before {
    content: "/";
    margin: 0 0.5em;
    opacity: .5;
}

.breadcrumb-item {
    font-size: 18px;
    color: rgb(82, 80, 80);
}

.breadcrumb-item a {
    color: rgb(82, 80, 80);
    text-decoration: none;
}

.breadcrumb-item-current {
    font-weight: 500;

}
